body{
	box-sizing:border-box;
	font:14pt sans-serif;
}
.topbar{
	position:fixed;
	height:50px;
	width:100%;
	top:0px;
	background-color:lightgray;
	vertical-align:middle;
	border-bottom:1px solid gray;
}

header {
	display:inline-block;
	padding: 14px 0px 0px 14px;
}

.navlinks{
	display:inline-block;
	float:right;
	padding: 14px 14px 0px 0px;
}

.navlinks a{
	text-decoration:none;
	color:purple;
	margin-left:10px;
}

.bound{
	max-width:1000px;
	margin-top:80px;
	margin-left:auto;
	margin-right:auto;
}

.pagination{
	
}

.results{
	list-style:none;
	line-height:2em;
	padding-left:0px;
}

.listing > span{
margin-right:6px;
}

.desc a{
	text-decoration:none;
	font-weight:bold;
}

.date, .location
{color:gray;}

.fav
{color:gray;}
.fav:hover
{color:gold;}